<div class='container'>
 <div class='row'>
  <div class="col-md-8 mx-auto">
   <%= render 'layouts/errors', obj: @customer %>
   <h2 class="text-center mt-3">会員情報編集</h2>
   <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
   <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control name" %>
   </div>
   <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control email" %>
   </div>
   <div class="form-group">
    <div class="d-flex justify-content-center">
    <%= f.submit "変更を保存", class: 'btn btn-secondary mt-3' %>
    </div>
   </div>
   <div class="row justify-content-between">
     <%= link_to "戻る", customer_path(@customer), class: "btn btn-secondary" %>
     <%= link_to "退会", customer_unsubscribe_path(@customer), class: "btn btn-danger" %>
    <% end %>
  </div>
</div>