<h1>会員情報編集</h1>
<%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
 <div>
   <%= f.label :名前 %>
   <%= f.text_field :name %>
 </div>
 <div>
   <%= f.label :メールアドレス %>
   <%= f.text_field :email %>
 </div>
 <%= f.submit "変更を保存", class: "btn btn-success" %>
 <%= link_to "戻る", customer_path(@customer), class: "btn btn-secondary" %>
<% end %>
