<div calss="container">
  <div class="row d-flex justify-content-between">
      <div class="card text-center">
        <div class="card-header">
          会員
        </div>
        <div class="card-body">
          <h5 class="card-title">会員登録者数</h5>
          <p class="card-text"><%= @customers.count %></p>
          <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-info" %>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          投稿
        </div>
        <div class="card-body">
          <h5 class="card-title">投稿数</h5>
          <p class="card-text"><%= @posts.count %></p>
          <table class="table table-borderless">
            新着順
          <tbody>
            <% @post.each do |post| %>
            <tr>
              <td><%= post.customer.name %></td>
              <td><%= post.category %></td>
            </tr>
            <% end %>
          </tbody>
          </table>
          <%= link_to "募集一覧", admin_posts_path, class: "btn btn-outline-info" %>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          プロフィール
        </div>
        <div class="card-body">
          <h5 class="card-title">プロフィール数</h5>
          <p class="card-text"><%= @profiles.count %></p>
          <%= link_to "プロフィール一覧", admin_profiles_path, class: "btn btn-outline-info" %>
        </div>
    </div>
  </div>
</div>

