<h1>マイページ</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div><%= link_to "チーム紹介" %></div>
      <div><%= link_to "会員情報変更"%></div>
      <div><%= link_to "DM" %></div>
      <div><%= link_to "募集" %></div>
      <div><%= link_to "退会" %></div>
    </div>

    <div class="col-lg-9">
      <table class="table table-striped">
        カレンダー
      </table>
    </div>
  </div>
</div>