<h1>マイページ</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div><%= link_to "チームプロフィール", new_profile_path(@customer) %></div>
      <div><%= link_to "会員情報変更", edit_customers_path %></div>
      <div><%= link_to "DM" %></div>
      <div><%= link_to "募集" %></div>
      <div><%= link_to "退会", unsubscribe_customers_path %></div>
    </div>

    <div class="col-lg-9">
      <table class="table table-striped">
        カレンダー
      </table>
    </div>
  </div>
</div>