<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>日程</th>
      <th>競技名</th>
      <th>募集状況</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to profile_path(post.customer_id) do %>
        <%= post.customer.name %>
        <% end %>
      </td>
      <td>
        <%= post.game_on %>
      </td>
      <td>
        <%= link_to post.category, search_post_path(keyword: post.category) %>
      </td>
      <td>
        <% if post.is_active == true %>
         <%= link_to "募集中", post_path(post) %>
        <% else %>
         終了
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
