<div class="container">
  <div class="row mt-3">
    <div class="col-md-4">
      <h3>練習試合募集投稿</h3>
       <%= render 'public/posts/form', post: @post %>
       <div class= "d-flex justify-content-end">
        <%= link_to "戻る", customer_path(current_customer), class: "btn btn-secondary" %>
      </div>
    </div>
    <div class="col-md-7 offset-1">
      <h3>募集投稿一覧</h3>
      <table class="table table-hover">
        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td><%= post.game_on %></td>
            <td><%= post.ground %></td>
            <td>
              <% if post.is_active == true %>
               募集中
              <% else %>
               終了
              <% end %>
            </td>
            <td>
             <%= link_to "編集する", edit_post_path(post.id) %>
            </td>
            <td>
             <%= link_to "削除", post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
        </tbody>
       <% end %>
      </table>
    </div>
  </div>
</div>