<h3 class="text-center mt-3 mb-3">
  <%= params[:keyword] %>の検索結果
</h3>
<div class="container">
  <div class="d-flex justify-content-end mb-3">
  <%= link_to "戻る", posts_path, class: "btn-sm btn-secondary" %>
</div>
  <div class="row justify-content-center">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="table-active">名前</th>
          <th class="table-active">試合日時</th>
          <th class="table-active">競技名</th>
          <th class="table-active">コメント</th>
          <th class="table-active">募集状況</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td>
            <% if customer_signed_in? %>
             <%= link_to profile_path(post.customer_id) do %>
             <%= post.customer.name %>
             <% end %>
            <% else %>
             <%= post.customer.name %>
            <% end %>
          </td>
          <td><%= post.game_on %></td>
          <td><%= post.category %></td>
          <td><%= post.content.truncate(10) %></td>
          <td>
            <% if post.is_active == true %>
             <%= link_to "募集中", post_path(post) %>
            <% else %>
             終了
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
   <div class="text-center"><%= paginate @posts %></div>
</div>