<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card border-dark mt-5">
        <div class="d-flex justify-content-center">
        <%= image_tag @profile.get_profile_image(200,200), class: "mt-3" %>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <%= render 'layouts/judgment', obj: @profile %>
          </h4>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th></th>
                <td>競技名</td>
                <td><%= @profile.category %></td>
              </tr>
                <tr>
                <th></th>
                <td>活動拠点</td>
                <td><%= @profile.address %></td>
              </tr>
              <tr>
                <th></th>
                <td>人数</td>
                <td><%= @profile.member %></td>
              </tr>
              <tr>
                <th></th>
                <td>チームレベル</td>
                <td><%= @profile.level %></td>
              </tr>
              <tr>
                <th></th>
                <td>活動日</td>
                <td><%= @profile.activity_day %></td>
              </tr>
              <tr>
                <th></th>
                <td>
                  <div class="comment-count">
                    <%= render 'public/profile_comments/count', profile: @profile %>
                  </div>
                </td>
                <td><%= link_to "戻る", admin_profiles_path, class: "btn-sm btn-secondary" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="comment-index">
       <%= render 'public/profiles/comment', profile: @profile %>
      </div>
    </div>
  </div>
</div>