<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card card border-dark mt-1">
        <div class="d-flex justify-content-center">
        <%= image_tag @profile.get_profile_image(200,200), class: "mt-2" %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @profile.customer.name %></h4>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th></th>
                <td>競技名</td>
                <td><%= @profile.category %></td>
              </tr>
                <tr>
                <th></th>
                <td>活動拠点</td>
                <td><%= @profile.address %></td>
              </tr>
              <tr>
                <th></th>
                <td>人数</td>
                <td><%= @profile.member %></td>
              </tr>
              <tr>
                <th></th>
                <td>チームレベル</td>
                <td><%= @profile.level %></td>
              </tr>
              <tr>
                <th></th>
                <td>活動日</td>
                <td><%= @profile.activity_day %></td>
              </tr>
              <tr>
                <th></th>
                <td>
                  <div class="favorite-btn">
                    <%= render 'favorite-btn', profile: @profile %>
                  </div>
                </td>
                <td>
                  <div class="comment-count">
                    <%= render 'public/profile_comments/count', profile: @profile %>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <% if current_customer != @customer %>
                   <%= link_to 'DM', chat_path(@customer.id) %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <% if @profile.customer == current_customer %>
                  <%= link_to "編集する", edit_profile_path(@profile.id), class: "btn btn-success" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to "戻る", customer_path(@customer), class: "btn btn-secondary" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="comment-index">
       <%= render 'comment', profile: @profile %>
      </div>
      <div class="comment-area">
        <%= form_with model: [@profile, @profile_comment], method: :post, local: false do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>