<h1>プロフィール</h1>

<div>
  <%= image_tag @profile.get_profile_image, size:'200x200' %>
</div>
<div>
  <%= @profile.customer.name %>
</div>
<div>
  <%= @profile.category %>
</div>
 <div>
   <%= @profile.address %>
 </div>
 <div>
   <%= @profile.member %>
 </div>
 <div>
   <%= @profile.level %>
 </div>
 <div>
   <%= @profile.activity_day %>
 </div>

 <div>
   <%= render 'favorite-btn', profile: @profile %>
</div>

<div>
  <p>コメント件数<%= @profile.profile_comments.count %></p>
  <%= render 'comment', profile: @profile %>
</div>

<div>
  <%= form_with model: [@profile, @profile_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>


<%= link_to "編集する", edit_profile_path(@profile.id), class: "btn btn-success" %>
<%= link_to "戻る", customer_path(@customer), class: "btn btn-secondary" %>