<h1>プロフィール</h1>

<div>
  <%= image_tag @profile.get_profile_image, size:'200x200' %>
</div>
<div>
  <%= @profile.customer.name %>
</div>
<div>
  <%= @profile.category %>
</div>
 <div>
   <%= @profile.address %>
 </div>
 <div>
   <%= @profile.member %>
 </div>
 <div>
   <%= @profile.level %>
 </div>
 <div>
   <%= @profile.activity_day %>
 </div>

 <div>
 <% if @profile.favorited_by?(current_customer) %>
  <%= link_to profile_favorites_path(@profile), method: :delete do %>
   ♥<%= @profile.favorites.count %> いいね
  <% end %>
<% else %>
  <%= link_to profile_favorites_path(@profile), method: :post do %>
   ♡<%= @profile.favorites.count %> いいね
  <% end %>
<% end %>
</div>

<div>
  <p>コメント件数<%= @profile.profile_comments.count %></p>
  <% @profile.profile_comments. each do |profile_comment| %>
   <%= profile_comment.customer.name %>
   <%= profile_comment.created_at.strftime('%Y/%m/%d') %><%= profile_comment.comment %>
   <% if profile_comment.customer == current_customer %>
    <%= link_to "削除", profile_profile_comment_path(profile_comment.profile, profile_comment), method: :delete %>
   <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@profile, @profile_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>


<%= link_to "編集する", edit_profile_path(@profile.id), class: "btn btn-success" %>
<%= link_to "戻る", mypage_customers_path, class: "btn btn-secondary" %>