<h3 class="text-center my-3">会員一覧</h3>
<div class="container">
  <div class="d-flex justify-content-end mb-3">
     <%= render "search", q: @q %>
  </div>
  <div class="row justify-content-center">
    <div class="table-responsive">
      <table class="table table-hover text-nowrap">
        <thead class="thead-dark">
          <tr class="align-middle text-center">
            <th>会員ID</th>
            <th>名前</th>
            <th>email</th>
            <th>プロフィール詳細</th>
            <th>会員</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to customer.name, admin_customer_path(customer) %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <% if customer.profile %>
               <%= link_to "詳細", admin_profile_path(customer.profile) %>
              <% else %>
               作成されていません
              <% end %>
            </td>
            <td>
              <% if customer.is_deleted == false %>
               <p class="text-success">有効</p>
              <% else %>
               <p class="text-danger">退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>
