<div class="container">
  <div class="row  justify-content-center">
    <div class="col-md-6">
      <div class="message">
        <h3 class="text-center mb-3 mt-3"><%= @customer.name %> さんとのチャット</h3>
        <% @chats.each do |chat| %>
          <% if chat.customer_id == current_customer.id %>
            <p style="text-align: right;"><%= chat.message %>
            <%= link_to "delete", chat, method: :delete %>
            </p>
          <% else %>
            <p style="text-align: left;"><%= chat.message %></p>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex justify-content-center fixed-bottom mb-3">
        <%= form_with model: @chat, data: {remote: true} do |f| %>
        <div>
          <%= f.text_field :message, size: "60", class: "form-control" %>
          <%= f.hidden_field :room_id %>
        </div>
        <div class="form-group text-right mt-3">
          <%= f.submit "送信", class:"btn btn-sm btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>