<div class="container">
  <div class="row  justify-content-center">
    <div class="col-md-10">
      <div class="message">
        <h3 class="text-center my-3"><%= @customer.name %> さんとのチャット</h3>
        <% @chats.each do |chat| %>
          <% if chat.customer_id == current_customer.id %>
            <p style="text-align: right;"><%= chat.message %>
            <%= link_to chat, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
            </p>
          <% else %>
            <p style="text-align: left;">
              <i class="fas fa-user-circle"></i>
              <%= chat.message %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center fixed-bottom mb-5">
        <%= form_with model: @chat, data: {remote: true} do |f| %>
        <div>
          <%= f.text_field :message, size: "80", class: "form-control" %>
          <%= f.hidden_field :room_id %>
        </div>
        <div class="form-group text-right mt-3">
          <%= f.submit "送信", class:"btn btn-sm btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>