<h1><%= @customer.name %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
  <% if chat.customer_id == current_customer.id %>
      <p style="text-align: right;"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

   <div class="posts">
    <%= form_with model:@chat do |f| %>
      <%= f.text_field :message %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
    <% end %>
  </div>