<h3 class="text-center my-3">募集一覧</h3>
<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <%= render "search", q: @q %>
  </div>
  <div class="row justify-content-center">
    <div class="table-responsive">
      <table class="table table-hover text-nowrap">
        <thead class="thead-dark">
          <tr class="align-middle text-center">
            <th>会員ID</th>
            <th>名前</th>
            <th>試合日時</th>
            <th>競技名</th>
            <th>コメント</th>
            <th>募集状況</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td>
              <%= post.customer.id %>
            </td>
            <td>
              <%= post.customer.name %>
            </td>
            <td>
              <%= post.game_on %>
            </td>
            <td>
              <%= post.category %>
            </td>
            <td>
             <%= post.content.truncate(10) %>
            </td>
            <td>
              <% if post.is_active == true %>
               <%= link_to "募集中", admin_post_path(post) %>
              <% else %>
               <%= link_to "終了", admin_post_path(post) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>
