<div class="container">
  <div class="row text-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 mx-auto">
      <table class="table table-borderless">
        <h3 class="my-3">
          <%= render 'layouts/judgment', obj: @post %>
        </h3>
        <tbody>
          <tr>
            <td>チーム名</td>
            <td><%= @post.customer.name %></td>
          </tr>
          <tr>
            <td>競技名</td>
            <td><%= @post.category %></td>
          </tr>
          <tr>
            <td>試合日時</td>
            <td><%= @post.game_on %></td>
          </tr>
          <tr>
            <td>グラウンド</td>
            <td><%= @post.ground %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td width="250"><%= @post.content %></td>
          </tr>
          <tr>
            <td>募集状況</td>
            <td>
              <% if @post.is_active == true %>
              募集中
              <% else %>
              終了
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "戻る", admin_posts_path, class: "btn btn-secondary" %>
            </td>
            <td>
              <%= link_to "削除", admin_post_path(@post), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
