<nav class="navbar bg-dark navbar-expand-lg navbar-dark">
  <%= link_to "Entry!", admin_root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <% if admin_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "募集一覧", admin_posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "プロフィール一覧", admin_profiles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
  <% end %>
</nav>