<nav class="navbar bg-dark navbar-expand-lg navbar-dark">
  <%= link_to "Entry!", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "チーム一覧", profiles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "募集一覧", posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "投稿", new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "マイページ", customer_path(current_customer), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>